 html, body {
  margin: 0;
  padding: 0;
  height: 100%;
} 

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* .App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #6482AD;
  color: white;
}

.App-logo {
  height: 60px;
}

.App-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.App-nav li {
  margin: 0 15px;
}

.App-nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.App-nav a:hover {
  color: #61dafb;
}  */


.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6482AD;
  padding: 0 20px;
  color: white;
}

.App-logo {
  height: 50px;
}

.App-nav {
  flex: 1;
}

.logout-button {
  margin-left: 20px;
  background-color: #7e87a2; /* Couleur du bouton */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #cf1322; /* Couleur du bouton au survol */
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #F2F2F2;
  text-align: center;
}

.App-footer {
  text-align: center;
  padding: 20px;
  background-color: #7FA1C3;
  color: white;
  /* position: fixed; Changement de relative à fixed */
  bottom: 0;
  left: 0; /* Ajouté pour s'assurer qu'il s'étend sur toute la largeur */
  width: 100%; /* Changement de auto à 100% */
}

.total-row {
  font-weight: bold;
  color: red;
}



.highlight-row {
  font-weight: bold;
  border-bottom: 2px solid black !important;
}



.login-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f2f5;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #001529;
}

.login-input {
  width: 100%;
  margin-bottom: 15px;
}

.login-button {
  width: 100%;
}

.login-spinner {
  margin-top: 20px;
}
