 html, body {
  margin: 0;
  padding: 0;
  height: 100%;
} 

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #6482AD;
  color: white;
}

.App-logo {
  height: 60px;
}

.App-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.App-nav li {
  margin: 0 15px;
}

.App-nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.App-nav a:hover {
  color: #61dafb;
}

main {
  flex: 1;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #F2F2F2;
  text-align: center;
}

.App-footer {
  text-align: center;
  padding: 20px;
  background-color: #7FA1C3;
  color: white;
  position: relative;
  bottom: 0;
  width: auto;
}

.total-row {
  font-weight: bold;
  color: red;
}



.highlight-row {
  font-weight: bold;
  border-bottom: 2px solid black !important;
}
